body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1{
    font-size: 50px;
}
.name{
    color: orange;
}
section{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding-left: 6%;
}
.half-width img{
    width: 70%;
}
.link-button{
    text-decoration: none;
    padding: 5px 20px;
    border-radius: 6px;
    background-image: linear-gradient( orange, tomato);
    color: white;
    font-weight: 700;
}
.top-banner{
    background-image: url(img/top-banner.png);
    background-repeat: none;
}
.Dream-big{
    background-image: url(img/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
#experience{
    text-align: center;
    color: tomato;
}
.Experience-are{
    background-image: url(img/exp-bg.png);
    background-repeat: no-repeat;
}
.experience-item{
    width: 40%;
    border-radius: 12px;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 30px;
    box-shadow: 10px 10px 40px gray;
}
#first-exp{
    border-left: 6px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}
#second-exp{
    border-left: 6px solid;
    border-image: linear-gradient(salmon, orange);
    border-image-slice: 1;
}